
// Converted Variables
// Custom Media Query Variables

/*
    BACKGROUND POSITION

    Base:
    bg = background

    Modifiers:
    -center = center center
    -top = top center
    -right = center right
    -bottom = bottom center
    -left = center left
 */
@include generateCodeForBreakpoints() {

  .bg-center#{$breakpoint-variable} {
    background-repeat: no-repeat;
    background-position: center center;
  }

  .bg-top#{$breakpoint-variable} {
    background-repeat: no-repeat;
    background-position: top center;
  }

  .bg-right#{$breakpoint-variable} {
    background-repeat: no-repeat;
    background-position: center right;
  }

  .bg-bottom#{$breakpoint-variable} {
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  .bg-left#{$breakpoint-variable} {
    background-repeat: no-repeat;
    background-position: center left;
  }

}
