
// Converted Variables


// Custom Media Query Variables


/*

   BORDER COLORS

   Use in cobmination with the _borders.css module
   Or for more flexibility the _border-styles.css and _border-widths.css modules

   Base:
     b-- = border

   Modifiers:
     Add a border color. There is a one to one mapping of color values
     in the _colors.css module.

 */

.b--black {        border-color: $black; }
.b--near-black {   border-color: $near-black; }
.b--dark-gray {    border-color: $dark-gray; }
.b--mid-gray {     border-color: $mid-gray; }
.b--gray {         border-color: $gray; }
.b--silver {       border-color: $silver; }
.b--light-silver { border-color: $light-silver; }
.b--light-gray {   border-color: $light-gray; }
.b--near-white {   border-color: $near-white; }
.b--white {        border-color: $white; }

.b--white-10 {   border-color: hsla(0, 0, 100%, .1); }
.b--white-20 {   border-color: hsla(0, 0, 100%, .2); }
.b--white-25 {   border-color: hsla(0, 0, 100%, .25); }
.b--white-30 {   border-color: hsla(0, 0, 100%, .3); }
.b--white-40 {   border-color: hsla(0, 0, 100%, .4); }
.b--white-50 {   border-color: hsla(0, 0, 100%, .5); }
.b--white-60 {   border-color: hsla(0, 0, 100%, .6); }
.b--white-70 {   border-color: hsla(0, 0, 100%, .7); }
.b--white-75 {   border-color: hsla(0, 0, 100%, .75); }
.b--white-80 {   border-color: hsla(0, 0, 100%, .8); }
.b--white-90 {   border-color: hsla(0, 0, 100%, .9); }

.b--black-0125 {   border-color: hsla(0, 0, 0,  .0125); }
.b--black-025 {   border-color: hsla(0, 0, 0,   .025); }
.b--black-05 {   border-color: hsla(0, 0, 0,    .05); }
.b--black-10 {   border-color: hsla(0, 0, 0,    .1); }
.b--black-20 {   border-color: hsla(0, 0, 0,    .2); }
.b--black-25 {   border-color: hsla(0, 0, 0,    .25); }
.b--black-30 {   border-color: hsla(0, 0, 0,    .3); }
.b--black-40 {   border-color: hsla(0, 0, 0,    .4); }
.b--black-50 {   border-color: hsla(0, 0, 0,    .5); }
.b--black-60 {   border-color: hsla(0, 0, 0,    .6); }
.b--black-70 {   border-color: hsla(0, 0, 0,    .7); }
.b--black-75 {   border-color: hsla(0, 0, 0,    .75); }
.b--black-80 {   border-color: hsla(0, 0, 0,    .8); }
.b--black-90 {   border-color: hsla(0, 0, 0,    .9); }

.b--blue { border-color: $blue; }
.b--light-blue { border-color: $light-blue; }
.b--lightest-blue { border-color: $lightest-blue; }
.b--dark-blue { border-color: $dark-blue; }
.b--darkest-blue { border-color: $darkest-blue; }
.b--yellow { border-color: $yellow; }
.b--light-yellow { border-color: $light-yellow; }
.b--lightest-yellow { border-color: $lightest-yellow; }
.b--dark-yellow { border-color: $dark-yellow; }
.b--darkest-yellow { border-color: $darkest-yellow; }
.b--orange { border-color: $orange; }
.b--light-orange { border-color: $light-orange; }
.b--lightest-orange { border-color: $lightest-orange; }
.b--dark-orange { border-color: $dark-orange; }
.b--darkest-orange { border-color: $darkest-orange; }
.b--red { border-color: $red; }
.b--light-red { border-color: $light-red; }
.b--lightest-red { border-color: $lightest-red; }
.b--dark-red { border-color: $dark-red; }
.b--darkest-red { border-color: $darkest-red; }
.b--teal { border-color: $teal; }
.b--light-teal { border-color: $light-teal; }
.b--lightest-teal { border-color: $lightest-teal; }
.b--dark-teal { border-color: $dark-teal; }
.b--darkest-teal { border-color: $darkest-teal; }
.b--green { border-color: $green; }
.b--light-green { border-color: $light-green; }
.b--lightest-green { border-color: $lightest-green; }
.b--dark-green { border-color: $dark-green; }
.b--darkest-green { border-color: $darkest-green; }
.b--pink { border-color: $pink; }
.b--light-pink { border-color: $light-pink; }
.b--lightest-pink { border-color: $lightest-pink; }
.b--dark-pink { border-color: $dark-pink; }
.b--darkest-pink { border-color: $darkest-pink; }
.b--purple { border-color: $purple; }
.b--light-purple { border-color: $light-purple; }
.b--lightest-purple { border-color: $lightest-purple; }
.b--dark-purple { border-color: $dark-purple; }
.b--darkest-purple { border-color: $darkest-purple; }
