
// Converted Variables
// Custom Media Query Variables

/*
   BORDER WIDTHS
   Docs: http://tachyons.io/docs/themes/borders/

   Base:
     bw = border-width

   Modifiers:
     0 = 0 width border
     1 = 1st step in border-width scale
     2 = 2nd step in border-width scale
     3 = 3rd step in border-width scale
     4 = 4th step in border-width scale
     5 = 5th step in border-width scale
*/
@include generateCodeForBreakpoints(){

  .bw0#{$breakpointVariable} { border-width: $border-width-none; }
  .bw1#{$breakpointVariable} { border-width: $border-width-1; }
  .bw2#{$breakpointVariable} { border-width: $border-width-2; }
  .bw3#{$breakpointVariable} { border-width: $border-width-3; }
  .bw4#{$breakpointVariable} { border-width: $border-width-4; }
  .bw5#{$breakpointVariable} { border-width: $border-width-5; }

  /* Resets */
  .bt-0#{$breakpointVariable} { border-top-width: $border-width-none }
  .br-0#{$breakpointVariable} { border-right-width: $border-width-none }
  .bb-0#{$breakpointVariable} { border-bottom-width: $border-width-none }
  .bl-0#{$breakpointVariable} { border-left-width: $border-width-none }

}


