
// Converted Variables
// Custom Media Query Variables

/*
   BORDER WIDTHS
   Docs: http://tachyons.io/docs/themes/borders/

   Base:
     bw = border-width

   Modifiers:
     0 = 0 width border
     1 = 1st step in border-width scale
     2 = 2nd step in border-width scale
     3 = 3rd step in border-width scale
     4 = 4th step in border-width scale
     5 = 5th step in border-width scale
*/
@include generateCodeForBreakpoints(){

  @each $label, $size in $border-width {
    .bw#{$label}#{$breakpoint-variable} { border-width: $size; }
  }

  /* Resets */
  .bt-0#{$breakpoint-variable} { border-top-width: map-get($border-width, 0) }
  .br-0#{$breakpoint-variable} { border-right-width: map-get($border-width, 0) }
  .bb-0#{$breakpoint-variable} { border-bottom-width: map-get($border-width, 0) }
  .bl-0#{$breakpoint-variable} { border-left-width: map-get($border-width, 0) }

}


