
// Converted Variables
// Custom Media Query Variables

/*
   BORDER RADIUS
   Docs: http://tachyons.io/docs/themes/border-radius/

   Base:
     br   = border-radius

   Modifiers:
     0    = 0/none
     1    = 1st step in scale
     2    = 2nd step in scale
     3    = 3rd step in scale
     4    = 4th step in scale

   Literal values:
     -100 = 100%
     -pill = 9999px
*/
@include generateCodeForBreakpoints(){

  @each $label, $size in $border-radius{
    $spacer: '';
    @if ($label == 100){
      $spacer: '-';
    }
    .br#{$spacer}#{$label}#{$breakpoint-variable} { border-radius: $size; }
  }

  .br-pill#{$breakpoint-variable} {    border-radius: $border-radius-pill; }

  .br--bottom#{$breakpoint-variable} {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }
  .br--top#{$breakpoint-variable} {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }
  .br--right#{$breakpoint-variable} {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  .br--left#{$breakpoint-variable} {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }

}
