
// Converted Variables
// Custom Media Query Variables

/*
   BORDER STYLES
   Docs: http://tachyons.io/docs/themes/borders/

   Depends on base border module in _borders.css

   Base:
     b = border-style

   Modifiers:
     --none   = none
     --dotted = dotted
     --dashed = dashed
     --solid  = solid
 */
@include generateCodeForBreakpoints(){

  .b--dotted#{$breakpointVariable} { border-style: dotted; }
  .b--dashed#{$breakpointVariable} { border-style: dashed; }
  .b--solid#{$breakpointVariable}  { border-style: solid; }
  .b--none#{$breakpointVariable}   { border-style: none; }

}

