
// Converted Variables
// Custom Media Query Variables

/*
   BORDER STYLES
   Docs: http://tachyons.io/docs/themes/borders/

   Depends on base border module in _borders.css

   Base:
     b = border-style

   Modifiers:
     --none   = none
     --dotted = dotted
     --dashed = dashed
     --solid  = solid
 */
@include generateCodeForBreakpoints(){

  .b--dotted#{$breakpoint-variable} { border-style: dotted; }
  .b--dashed#{$breakpoint-variable} { border-style: dashed; }
  .b--solid#{$breakpoint-variable}  { border-style: solid; }
  .b--none#{$breakpoint-variable}   { border-style: none; }

}

