
// Converted Variables
// Custom Media Query Variables

/*
   CLEARFIX
   http://tachyons.io/docs/layout/clearfix/
*/

/* Nicolas Gallaghers Clearfix solution
   Ref: http://nicolasgallagher.com/micro-clearfix-hack/ */

.cf:before,
.cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.cf {       *zoom: 1; }

@include generateCodeForBreakpoints(){

  .cl#{$breakpointVariable} { clear: left; }
  .cr#{$breakpointVariable} { clear: right; }
  .cb#{$breakpointVariable} { clear: both; }
  .cn#{$breakpointVariable} { clear: none; }

}

