
// Converted Variables

$black-100: rgba(0,0,0,1) !default;
$black-90: rgba(0,0,0,.9) !default;
$black-80: rgba(0,0,0,.8) !default;
$black-70: rgba(0,0,0,.7) !default;
$black-60: rgba(0,0,0,.6) !default;
$black-50: rgba(0,0,0,.5) !default;
$black-40: rgba(0,0,0,.4) !default;
$black-30: rgba(0,0,0,.3) !default;
$black-20: rgba(0,0,0,.2) !default;
$black-10: rgba(0,0,0,.1) !default;
$black-05: rgba(0,0,0,.05) !default;
$black-025: rgba(0,0,0,.025) !default;
$black-0125: rgba(0,0,0,.0125) !default;
$white-100: rgba(255,255,255,1) !default;
$white-90: rgba(255,255,255,.9) !default;
$white-80: rgba(255,255,255,.8) !default;
$white-70: rgba(255,255,255,.7) !default;
$white-60: rgba(255,255,255,.6) !default;
$white-50: rgba(255,255,255,.5) !default;
$white-40: rgba(255,255,255,.4) !default;
$white-30: rgba(255,255,255,.3) !default;
$white-20: rgba(255,255,255,.2) !default;
$white-10: rgba(255,255,255,.1) !default;
$white-05: rgba(255,255,255,.05) !default;
$white-025: rgba(255,255,255,.025) !default;
$black: #000 !default;
$near-black: #111 !default;
$dark-gray: #333 !default;
$mid-gray: #555 !default;
$gray: #777 !default;
$silver: #999 !default;
$light-silver: #aaa !default;
$moon-gray: #ccc !default;
$light-gray: #eee !default;
$near-white: #f4f4f4 !default;
$white: #fff !default;
$blue: #0074D9 !default;
$light-blue: #64a8ff !default;
$lightest-blue: #a2dfff !default;
$dark-blue: #0045a1 !default;
$darkest-blue: #002f86 !default;
$yellow: #fff93c !default;
$light-yellow: #fffa60 !default;
$lightest-yellow: #fffca6 !default;
$dark-yellow: #e2c100 !default;
$darkest-yellow: #c4a600 !default;
$orange: #FF851B !default;
$light-orange: #ffa942 !default;
$lightest-orange: #ffc55d !default;
$dark-orange: #d05e00 !default;
$darkest-orange: #b14400 !default;
$red: #d82c2c !default;
$light-red: #f94f44 !default;
$lightest-red: #ff6c5c !default;
$dark-red: #bd001a !default;
$darkest-red: #9d0003 !default;
$teal: #27bfa8 !default;
$light-teal: #4eddc5 !default;
$lightest-teal: #6ffae0 !default;
$dark-teal: #25a28f !default;
$darkest-teal: #008876 !default;
$green: #3D9970 !default;
$light-green: #5ab48a !default;
$lightest-green: #75d0a4 !default;
$dark-green: #1e7f58 !default;
$darkest-green: #006540 !default;
$pink: #F012BE !default;
$light-pink: #ff57e8 !default;
$lightest-pink: #ff81ff !default;
$dark-pink: #d100a3 !default;
$darkest-pink: #b20088 !default;
$purple: #980bc6 !default;
$light-purple: #b536e2 !default;
$lightest-purple: #d355ff !default;
$dark-purple: #7b00a9 !default;
$darkest-purple: #5f008e !default;

// Custom Media Query Variables


/*

   COLOR VARIABLES

   Variables to set colors for
   color, background-color, and border-color

*/

/* variables */
