
// Converted Variables
// Custom Media Query Variables

/*
   COORDINATES
   Docs: http://tachyons.io/docs/layout/position/

   Use in combination with the position module.

   Base:
     top
     bottom
     right
     left

   Modifiers:
     -0  = literal value 0
     -1  = literal value 1
     -2  = literal value 2
     --1 = literal value -1
     --2 = literal value -2
*/
@include generateCodeForBreakpoints(){

  .top-0#{$breakpoint-variable}    { top:    0; }
  .right-0#{$breakpoint-variable}  { right:  0; }
  .bottom-0#{$breakpoint-variable} { bottom: 0; }
  .left-0#{$breakpoint-variable}   { left:   0; }

  .top-1#{$breakpoint-variable}    { top:    1rem; }
  .right-1#{$breakpoint-variable}  { right:  1rem; }
  .bottom-1#{$breakpoint-variable} { bottom: 1rem; }
  .left-1#{$breakpoint-variable}   { left:   1rem; }

  .top-2#{$breakpoint-variable}    { top:    2rem; }
  .right-2#{$breakpoint-variable}  { right:  2rem; }
  .bottom-2#{$breakpoint-variable} { bottom: 2rem; }
  .left-2#{$breakpoint-variable}   { left:   2rem; }

  .top--1#{$breakpoint-variable}    { top:    -1rem; }
  .right--1#{$breakpoint-variable}  { right:  -1rem; }
  .bottom--1#{$breakpoint-variable} { bottom: -1rem; }
  .left--1#{$breakpoint-variable}   { left:   -1rem; }

  .top--2#{$breakpoint-variable}    { top:    -2rem; }
  .right--2#{$breakpoint-variable}  { right:  -2rem; }
  .bottom--2#{$breakpoint-variable} { bottom: -2rem; }
  .left--2#{$breakpoint-variable}   { left:   -2rem; }

  .absolute--fill#{$breakpoint-variable} {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

}

