
// Converted Variables
// Custom Media Query Variables

/*
   DISPLAY
   Docs: http://tachyons.io/docs/layout/display

   Base:
    d = display

   Modifiers:
    n     = none
    b     = block
    ib    = inline-block
    it    = inline-table
    t     = table
    tc    = table-cell
    tr    = table-row
    tcol  = table-column
    tcolg = table-column-group
*/
@include generateCodeForBreakpoints(){

  .dn#{$breakpoint-variable} {              display: none; }
  .di#{$breakpoint-variable} {              display: inline; }
  .db#{$breakpoint-variable} {              display: block; }
  .dib#{$breakpoint-variable} {             display: inline-block; }
  .dit#{$breakpoint-variable} {             display: inline-table; }
  .dt#{$breakpoint-variable} {              display: table; }
  .dtc#{$breakpoint-variable} {             display: table-cell; }
  .dt-row#{$breakpoint-variable} {          display: table-row; }
  .dt-row-group#{$breakpoint-variable} {    display: table-row-group; }
  .dt-column#{$breakpoint-variable} {       display: table-column; }
  .dt-column-group#{$breakpoint-variable} { display: table-column-group; }

  /*
    This will set table to full width and then
    all cells will be equal width
  */
  .dt--fixed#{$breakpoint-variable} {
    table-layout: fixed;
    width: 100%;
  }

}
