
// Converted Variables
// Custom Media Query Variables

/*
  FLEXBOX
*/
@include generateCodeForBreakpoints(){

  .flex#{$breakpointVariable} { display: flex; }
  .inline-flex#{$breakpointVariable} { display: inline-flex; }

  /* 1. Fix for Chrome 44 bug.
   * https://code.google.com/p/chromium/issues/detail?id=506893 */
  .flex-auto#{$breakpointVariable} {
    flex: 1 1 auto;
    min-width: 0; /* 1 */
    min-height: 0; /* 1 */
  }

  .flex-none#{$breakpointVariable} { flex: none; }

  .flex-column#{$breakpointVariable}    { flex-direction: column; }
  .flex-row#{$breakpointVariable}       { flex-direction: row; }
  .flex-wrap#{$breakpointVariable}      { flex-wrap: wrap; }
  .flex-nowrap#{$breakpointVariable}    { flex-wrap: nowrap; }
  .flex-wrap-reverse#{$breakpointVariable}    { flex-wrap: wrap-reverse; }
  .flex-column-reverse#{$breakpointVariable}  { flex-direction: column-reverse; }
  .flex-row-reverse#{$breakpointVariable}     { flex-direction: row-reverse; }

  .items-start#{$breakpointVariable}    { align-items: flex-start; }
  .items-end#{$breakpointVariable}      { align-items: flex-end; }
  .items-center#{$breakpointVariable}   { align-items: center; }
  .items-baseline#{$breakpointVariable} { align-items: baseline; }
  .items-stretch#{$breakpointVariable}  { align-items: stretch; }

  .self-start#{$breakpointVariable}    { align-self: flex-start; }
  .self-end#{$breakpointVariable}      { align-self: flex-end; }
  .self-center#{$breakpointVariable}   { align-self: center; }
  .self-baseline#{$breakpointVariable} { align-self: baseline; }
  .self-stretch#{$breakpointVariable}  { align-self: stretch; }

  .justify-start#{$breakpointVariable}   { justify-content: flex-start; }
  .justify-end#{$breakpointVariable}     { justify-content: flex-end; }
  .justify-center#{$breakpointVariable}  { justify-content: center; }
  .justify-between#{$breakpointVariable} { justify-content: space-between; }
  .justify-around#{$breakpointVariable}  { justify-content: space-around; }

  .content-start#{$breakpointVariable}   { align-content: flex-start; }
  .content-end#{$breakpointVariable}     { align-content: flex-end; }
  .content-center#{$breakpointVariable}  { align-content: center; }
  .content-between#{$breakpointVariable} { align-content: space-between; }
  .content-around#{$breakpointVariable}  { align-content: space-around; }
  .content-stretch#{$breakpointVariable} { align-content: stretch; }

  .order-0#{$breakpointVariable} { order: 0; }
  .order-1#{$breakpointVariable} { order: 1; }
  .order-2#{$breakpointVariable} { order: 2; }
  .order-3#{$breakpointVariable} { order: 3; }
  .order-4#{$breakpointVariable} { order: 4; }
  .order-5#{$breakpointVariable} { order: 5; }
  .order-6#{$breakpointVariable} { order: 6; }
  .order-7#{$breakpointVariable} { order: 7; }
  .order-8#{$breakpointVariable} { order: 8; }
  .order-last#{$breakpointVariable} { order: 99999; }

  .flex-grow-0#{$breakpointVariable} { flex-grow: 0; }
  .flex-grow-1#{$breakpointVariable} { flex-grow: 1; }

  .flex-shrink-0#{$breakpointVariable} { flex-shrink: 0; }
  .flex-shrink-1#{$breakpointVariable} { flex-shrink: 1; }

}

