
// Converted Variables
// Custom Media Query Variables

/*
   FONT WEIGHT
   Docs: http://tachyons.io/docs/typography/font-weight/

   Base
     fw = font-weight

   Modifiers:
     1 = literal value 100
     2 = literal value 200
     3 = literal value 300
     4 = literal value 400
     5 = literal value 500
     6 = literal value 600
     7 = literal value 700
     8 = literal value 800
     9 = literal value 900
*/

@include generateCodeForBreakpoints(){

  .normal#{$breakpointVariable} { font-weight: normal; }
  .b#{$breakpointVariable}      { font-weight: bold; }
  .fw1#{$breakpointVariable}    { font-weight: 100; }
  .fw2#{$breakpointVariable}    { font-weight: 200; }
  .fw3#{$breakpointVariable}    { font-weight: 300; }
  .fw4#{$breakpointVariable}    { font-weight: 400; }
  .fw5#{$breakpointVariable}    { font-weight: 500; }
  .fw6#{$breakpointVariable}    { font-weight: 600; }
  .fw7#{$breakpointVariable}    { font-weight: 700; }
  .fw8#{$breakpointVariable}    { font-weight: 800; }
  .fw9#{$breakpointVariable}    { font-weight: 900; }

}

