
// Converted Variables
// Custom Media Query Variables

/*
   HEIGHTS
   Docs: http://tachyons.io/docs/layout/heights/

   Base:
     h = height
     min-h = min-height
     min-vh = min-height vertical screen height
     vh = vertical screen height

   Modifiers
     1 = 1st step in height scale
     2 = 2nd step in height scale
     3 = 3rd step in height scale
     4 = 4th step in height scale
     5 = 5th step in height scale

     -25   = literal value 25%
     -50   = literal value 50%
     -75   = literal value 75%
     -100  = literal value 100%

     -auto = string value of auto
     -inherit = string value of inherit
*/

@include generateCodeForBreakpoints(){

  /* Height Scale */

  .h1#{$breakpointVariable} { height: $height-1; }
  .h2#{$breakpointVariable} { height: $height-2; }
  .h3#{$breakpointVariable} { height: $height-3; }
  .h4#{$breakpointVariable} { height: $height-4; }
  .h5#{$breakpointVariable} { height: $height-5; }

  /* Height Percentages - Based off of height of parent */

  .h-25#{$breakpointVariable} {  height:  25%; }
  .h-50#{$breakpointVariable} {  height:  50%; }
  .h-75#{$breakpointVariable} {  height:  75%; }
  .h-100#{$breakpointVariable} { height: 100%; }

  .min-h-100#{$breakpointVariable} { min-height: 100%; }

  /* Screen Height Percentage */

  .vh-25#{$breakpointVariable} {  height:  25vh; }
  .vh-50#{$breakpointVariable} {  height:  50vh; }
  .vh-75#{$breakpointVariable} {  height:  75vh; }
  .vh-100#{$breakpointVariable} { height: 100vh; }

  .min-vh-100#{$breakpointVariable} { min-height: 100vh; }


  /* String Properties */

  .h-auto#{$breakpointVariable} {     height: auto; }
  .h-inherit#{$breakpointVariable} {  height: inherit; }

}
