
// Converted Variables
// Custom Media Query Variables

/*
   HEIGHTS
   Docs: http://tachyons.io/docs/layout/heights/

   Base:
     h = height
     min-h = min-height
     min-vh = min-height vertical screen height
     vh = vertical screen height

   Modifiers
     1 = 1st step in height scale
     2 = 2nd step in height scale
     3 = 3rd step in height scale
     4 = 4th step in height scale
     5 = 5th step in height scale

     -25   = literal value 25%
     -50   = literal value 50%
     -75   = literal value 75%
     -100  = literal value 100%

     -auto = string value of auto
     -inherit = string value of inherit
*/

@include generateCodeForBreakpoints(){

  /* Height Scale */
  @each $label, $size in $heights {
    .h#{$label}#{$breakpoint-variable} { height: $size; }
  }

  @each $label, $size in $heights-percentage {
    /* Height Percentages - Based off of height of parent */
    .h-#{$label}#{$breakpoint-variable} { height: $size * 1%; }

    /* Screen Height Percentage */
    .vh-#{$label}#{$breakpoint-variable} { height: $size * 1vh; }
  }

  .min-h-100#{$breakpoint-variable}  { min-height: 100%; }
  .min-vh-100#{$breakpoint-variable} { min-height: 100vh; }

  /* String Properties */

  .h-auto#{$breakpoint-variable}    { height: auto; }
  .h-inherit#{$breakpoint-variable} { height: inherit; }

}
