
// Converted Variables
// Custom Media Query Variables

/*
   LETTER SPACING
   Docs: http://tachyons.io/docs/typography/tracking/
*/

@include generateCodeForBreakpoints(){

  .tracked#{$breakpointVariable}       { letter-spacing:  $letter-spacing-1; }
  .tracked-tight#{$breakpointVariable} { letter-spacing: $letter-spacing-tight; }
  .tracked-mega#{$breakpointVariable}  { letter-spacing:  $letter-spacing-2; }

}
