
// Converted Variables
// Custom Media Query Variables

/*
   LINE HEIGHT / LEADING
   Docs: http://tachyons.io/docs/typography/line-height
*/

@include generateCodeForBreakpoints(){

  .lh-solid#{$breakpointVariable} { line-height: $line-height-solid; }
  .lh-title#{$breakpointVariable} { line-height: $line-height-title; }
  .lh-copy#{$breakpointVariable}  { line-height: $line-height-copy; }

}
