
// Converted Variables
// Custom Media Query Variables

/*
   MAX WIDTHS
   Docs: http://tachyons.io/docs/layout/max-widths/

   Base:
     mw = max-width

   Modifiers
     1 = 1st step in width scale
     2 = 2nd step in width scale
     3 = 3rd step in width scale
     4 = 4th step in width scale
     5 = 5th step in width scale
     6 = 6st step in width scale
     7 = 7nd step in width scale
     8 = 8rd step in width scale
     9 = 9th step in width scale

     -100 = literal value 100%

     -none  = string value none
*/
@include generateCodeForBreakpoints(){

  /* Max Width Percentages */

  .mw-100#{$breakpointVariable} { max-width: 100%; }

  /* Max Width Scale */

  .mw1#{$breakpointVariable} {  max-width: $max-width-1; }
  .mw2#{$breakpointVariable} {  max-width: $max-width-2; }
  .mw3#{$breakpointVariable} {  max-width: $max-width-3; }
  .mw4#{$breakpointVariable} {  max-width: $max-width-4; }
  .mw5#{$breakpointVariable} {  max-width: $max-width-5; }
  .mw6#{$breakpointVariable} {  max-width: $max-width-6; }
  .mw7#{$breakpointVariable} {  max-width: $max-width-7; }
  .mw8#{$breakpointVariable} {  max-width: $max-width-8; }
  .mw9#{$breakpointVariable} {  max-width: $max-width-9; }

  /* Max Width String Properties */

  .mw-none#{$breakpointVariable} { max-width: none; }

}
