
// Converted Variables
// Custom Media Query Variables

/*
   MAX WIDTHS
   Docs: http://tachyons.io/docs/layout/max-widths/

   Base:
     mw = max-width

   Modifiers
     1 = 1st step in width scale
     2 = 2nd step in width scale
     3 = 3rd step in width scale
     4 = 4th step in width scale
     5 = 5th step in width scale
     6 = 6st step in width scale
     7 = 7nd step in width scale
     8 = 8rd step in width scale
     9 = 9th step in width scale

     -100 = literal value 100%

     -none  = string value none
*/
@include generateCodeForBreakpoints(){

  /* Max Width Percentages */
  .mw-100#{$breakpoint-variable} { max-width: 100%; }

  /* Max Width Scale */
  @each $label, $size in $max-widths {
    .mw#{$label}#{$breakpoint-variable} {  max-width: $size; }
  }

  /* Max Width String Properties */
  .mw-none#{$breakpoint-variable} { max-width: none; }

}
