
// Converted Variables
// Custom Media Query Variables

/*
   NEGATIVE MARGINS

   Base:
     n = negative

   Modifiers:
     a = all
     t = top
     r = right
     b = bottom
     l = left

     1 = 1st step in spacing scale
     2 = 2nd step in spacing scale
     3 = 3rd step in spacing scale
     4 = 4th step in spacing scale
     5 = 5th step in spacing scale
     6 = 6th step in spacing scale
     7 = 7th step in spacing scale
*/
@include generateCodeForBreakpoints(){

  @each $label, $size in $spacings {
    .na#{$label}#{$breakpoint-variable} { margin: -$size; }

    .nl#{$label}#{$breakpoint-variable} { margin-left: -$size; }
    .nr#{$label}#{$breakpoint-variable} { margin-right: -$size; }
    .nb#{$label}#{$breakpoint-variable} { margin-bottom: -$size; }
    .nt#{$label}#{$breakpoint-variable} { margin-top: -$size; }
  }

}
