
// Converted Variables
// Custom Media Query Variables

/*
   OUTLINES
*/
@include generateCodeForBreakpoints(){

  .outline#{$breakpoint-variable} { outline: 1px solid; }
  .outline-transparent#{$breakpoint-variable} { outline: 1px solid transparent; }
  .outline-0#{$breakpoint-variable} { outline: 0; }

}

