
// Converted Variables
// Custom Media Query Variables

/*
   OUTLINES
*/
@include generateCodeForBreakpoints(){

  .outline#{$breakpointVariable} { outline: 1px solid; }
  .outline-transparent#{$breakpointVariable} { outline: 1px solid transparent; }
  .outline-0#{$breakpointVariable} { outline: 0; }

}

