
// Converted Variables
// Custom Media Query Variables

/*
    OVERFLOW
 */
@include generateCodeForBreakpoints(){

  .overflow-visible#{$breakpointVariable} { overflow: visible; }
  .overflow-hidden#{$breakpointVariable} { overflow: hidden; }
  .overflow-scroll#{$breakpointVariable} { overflow: scroll; }
  .overflow-auto#{$breakpointVariable} { overflow: auto; }

  .overflow-x-visible#{$breakpointVariable} { overflow-x: visible; }
  .overflow-x-hidden#{$breakpointVariable} { overflow-x: hidden; }
  .overflow-x-scroll#{$breakpointVariable} { overflow-x: scroll; }
  .overflow-x-auto#{$breakpointVariable} { overflow-x: auto; }

  .overflow-y-visible#{$breakpointVariable} { overflow-y: visible; }
  .overflow-y-hidden#{$breakpointVariable} { overflow-y: hidden; }
  .overflow-y-scroll#{$breakpointVariable} { overflow-y: scroll; }
  .overflow-y-auto#{$breakpointVariable} { overflow-y: auto; }

}
