
// Converted Variables
// Custom Media Query Variables

/*
    OVERFLOW
 */
@include generateCodeForBreakpoints(){

  .overflow-visible#{$breakpoint-variable} { overflow: visible; }
  .overflow-hidden#{$breakpoint-variable} { overflow: hidden; }
  .overflow-scroll#{$breakpoint-variable} { overflow: scroll; }
  .overflow-auto#{$breakpoint-variable} { overflow: auto; }

  .overflow-x-visible#{$breakpoint-variable} { overflow-x: visible; }
  .overflow-x-hidden#{$breakpoint-variable} { overflow-x: hidden; }
  .overflow-x-scroll#{$breakpoint-variable} { overflow-x: scroll; }
  .overflow-x-auto#{$breakpoint-variable} { overflow-x: auto; }

  .overflow-y-visible#{$breakpoint-variable} { overflow-y: visible; }
  .overflow-y-hidden#{$breakpoint-variable} { overflow-y: hidden; }
  .overflow-y-scroll#{$breakpoint-variable} { overflow-y: scroll; }
  .overflow-y-auto#{$breakpoint-variable} { overflow-y: auto; }

}
