
// Converted Variables
// Custom Media Query Variables

/*
   POSITIONING
   Docs: http://tachyons.io/docs/layout/position/
*/
@include generateCodeForBreakpoints(){

  .static#{$breakpointVariable} { position: static; }
  .relative#{$breakpointVariable}  { position: relative; }
  .absolute#{$breakpointVariable}  { position: absolute; }
  .fixed#{$breakpointVariable}  { position: fixed; }

}

