
// Converted Variables
// Custom Media Query Variables

/*
   POSITIONING
   Docs: http://tachyons.io/docs/layout/position/
*/
@include generateCodeForBreakpoints(){

  .static#{$breakpoint-variable} { position: static; }
  .relative#{$breakpoint-variable}  { position: relative; }
  .absolute#{$breakpoint-variable}  { position: absolute; }
  .fixed#{$breakpoint-variable}  { position: fixed; }

}

