
// Converted Variables
// Custom Media Query Variables

/*
   SKINS:PSEUDO

   Customize the color of an element when
   it is focused or hovered over.
 */

@each $label, $color in $colors{

  /* Text colors */
  .hover-#{$label}:hover,
  .hover-#{$label}:focus { color: $color; }

  /* Background */
  .hover-bg-#{$label}:hover,
  .hover-bg-#{$label}:focus { background-color: $color }

}

.hover-inherit:hover,
.hover-inherit:focus { color: inherit; }

.hover-bg-inherit:hover,
.hover-bg-inherit:focus { background-color: inherit; }
