@use "variables";

// Converted Variables


// Custom Media Query Variables


/*

   SKINS
   Docs: http://tachyons.io/docs/themes/skins/

   Classes for setting foreground and background colors on elements.
   If you haven't declared a border color, but set border on an element, it will
   be set to the current text color.

*/

/* Text colors */

.black-90 {         color: variables.$black-90; }
.black-80 {         color: variables.$black-80; }
.black-70 {         color: variables.$black-70; }
.black-60 {         color: variables.$black-60; }
.black-50 {         color: variables.$black-50; }
.black-40 {         color: variables.$black-40; }
.black-30 {         color: variables.$black-30; }
.black-20 {         color: variables.$black-20; }
.black-10 {         color: variables.$black-10; }
.black-05 {         color: variables.$black-05; }

.white-90 {         color: variables.$white-90; }
.white-80 {         color: variables.$white-80; }
.white-70 {         color: variables.$white-70; }
.white-60 {         color: variables.$white-60; }
.white-50 {         color: variables.$white-50; }
.white-40 {         color: variables.$white-40; }
.white-30 {         color: variables.$white-30; }
.white-20 {         color: variables.$white-20; }
.white-10 {         color: variables.$white-10; }

.black {         color: variables.$black; }
.near-black {    color: variables.$near-black; }
.dark-gray {     color: variables.$dark-gray; }
.mid-gray {      color: variables.$mid-gray; }
.gray {          color: variables.$gray; }
.silver  {       color: variables.$silver; }
.light-silver {  color: variables.$light-silver; }
.moon-gray {     color: variables.$moon-gray; }
.light-gray {    color: variables.$light-gray; }
.near-white {    color: variables.$near-white; }
.white {         color: variables.$white; }

.dark-red { color: variables.$dark-red; }
.red { color: variables.$red; }
.light-red { color: variables.$light-red; }
.orange { color: variables.$orange; }
.gold { color: variables.$gold; }
.yellow { color: variables.$yellow; }
.light-yellow { color: variables.$light-yellow; }
.purple { color: variables.$purple; }
.light-purple { color: variables.$light-purple; }
.dark-pink { color: variables.$dark-pink; }
.hot-pink { color: variables.$hot-pink; }
.pink { color: variables.$pink; }
.light-pink { color: variables.$light-pink; }
.dark-green { color: variables.$dark-green; }
.green { color: variables.$green; }
.light-green { color: variables.$light-green; }
.navy { color: variables.$navy; }
.dark-blue { color: variables.$dark-blue; }
.blue { color: variables.$blue; }
.light-blue { color: variables.$light-blue; }
.lightest-blue { color: variables.$lightest-blue; }
.washed-blue { color: variables.$washed-blue; }
.washed-green { color: variables.$washed-green; }
.washed-yellow { color: variables.$washed-yellow; }
.washed-red { color: variables.$washed-red; }
.color-inherit { color: inherit; }

.bg-black-90 {         background-color: variables.$black-90; }
.bg-black-80 {         background-color: variables.$black-80; }
.bg-black-70 {         background-color: variables.$black-70; }
.bg-black-60 {         background-color: variables.$black-60; }
.bg-black-50 {         background-color: variables.$black-50; }
.bg-black-40 {         background-color: variables.$black-40; }
.bg-black-30 {         background-color: variables.$black-30; }
.bg-black-20 {         background-color: variables.$black-20; }
.bg-black-10 {         background-color: variables.$black-10; }
.bg-black-05 {         background-color: variables.$black-05; }
.bg-white-90 {        background-color: variables.$white-90; }
.bg-white-80 {        background-color: variables.$white-80; }
.bg-white-70 {        background-color: variables.$white-70; }
.bg-white-60 {        background-color: variables.$white-60; }
.bg-white-50 {        background-color: variables.$white-50; }
.bg-white-40 {        background-color: variables.$white-40; }
.bg-white-30 {        background-color: variables.$white-30; }
.bg-white-20 {        background-color: variables.$white-20; }
.bg-white-10 {        background-color: variables.$white-10; }



/* Background colors */

.bg-black {         background-color: variables.$black; }
.bg-near-black {    background-color: variables.$near-black; }
.bg-dark-gray {     background-color: variables.$dark-gray; }
.bg-mid-gray {      background-color: variables.$mid-gray; }
.bg-gray {          background-color: variables.$gray; }
.bg-silver  {       background-color: variables.$silver; }
.bg-light-silver {  background-color: variables.$light-silver; }
.bg-moon-gray {     background-color: variables.$moon-gray; }
.bg-light-gray {    background-color: variables.$light-gray; }
.bg-near-white {    background-color: variables.$near-white; }
.bg-white {         background-color: variables.$white; }
.bg-transparent {   background-color: variables.$transparent; }

.bg-dark-red { background-color: variables.$dark-red; }
.bg-red { background-color: variables.$red; }
.bg-light-red { background-color: variables.$light-red; }
.bg-orange { background-color: variables.$orange; }
.bg-gold { background-color: variables.$gold; }
.bg-yellow { background-color: variables.$yellow; }
.bg-light-yellow { background-color: variables.$light-yellow; }
.bg-purple { background-color: variables.$purple; }
.bg-light-purple { background-color: variables.$light-purple; }
.bg-dark-pink { background-color: variables.$dark-pink; }
.bg-hot-pink { background-color: variables.$hot-pink; }
.bg-pink { background-color: variables.$pink; }
.bg-light-pink { background-color: variables.$light-pink; }
.bg-dark-green { background-color: variables.$dark-green; }
.bg-green { background-color: variables.$green; }
.bg-light-green { background-color: variables.$light-green; }
.bg-navy { background-color: variables.$navy; }
.bg-dark-blue { background-color: variables.$dark-blue; }
.bg-blue { background-color: variables.$blue; }
.bg-light-blue { background-color: variables.$light-blue; }
.bg-lightest-blue { background-color: variables.$lightest-blue; }
.bg-washed-blue { background-color: variables.$washed-blue; }
.bg-washed-green { background-color: variables.$washed-green; }
.bg-washed-yellow { background-color: variables.$washed-yellow; }
.bg-washed-red { background-color: variables.$washed-red; }
.bg-inherit { background-color: inherit; }
