
// Converted Variables

$black-90: rgba(0,0,0,.9) !default;
$black-80: rgba(0,0,0,.8) !default;
$black-70: rgba(0,0,0,.7) !default;
$black-60: rgba(0,0,0,.6) !default;
$black-50: rgba(0,0,0,.5) !default;
$black-40: rgba(0,0,0,.4) !default;
$black-30: rgba(0,0,0,.3) !default;
$black-20: rgba(0,0,0,.2) !default;
$black-10: rgba(0,0,0,.1) !default;
$black-05: rgba(0,0,0,.05) !default;
$white-100: rgba(255,255,255,1) !default;
$white-90: rgba(255,255,255,.9) !default;
$white-80: rgba(255,255,255,.8) !default;
$white-70: rgba(255,255,255,.7) !default;
$white-60: rgba(255,255,255,.6) !default;
$white-50: rgba(255,255,255,.5) !default;
$white-40: rgba(255,255,255,.4) !default;
$white-30: rgba(255,255,255,.3) !default;
$white-20: rgba(255,255,255,.2) !default;
$white-10: rgba(255,255,255,.1) !default;
$transparent: transparent !default;
$black: #111 !default;
$near-black: #111 !default;
$dark-gray: #333 !default;
$mid-gray: #555 !default;
$gray: #777 !default;
$silver: #999 !default;
$light-silver: #aaa !default;
$moon-gray: #ccc !default;
$light-gray: #eee !default;
$near-white: #f4f4f4 !default;
$white: #fff !default;

// Custom Media Query Variables


/*

   COLOR VARIABLES

   Variables to set colors for
   color, background-color, and border-color

*/

/* variables */


/*

   SKINS

*/




/* Text colors */

.black-90 {         color: $black-90; }
.black-80 {         color: $black-80; }
.black-70 {         color: $black-70; }
.black-60 {         color: $black-60; }
.black-50 {         color: $black-50; }
.black-40 {         color: $black-40; }
.black-30 {         color: $black-30; }
.black-20 {         color: $black-20; }
.black-10 {         color: $black-10; }
.black-05 {         color: $black-05; }

.bg-black-90 {         background-color: $black-90; }
.bg-black-80 {         background-color: $black-80; }
.bg-black-70 {         background-color: $black-70; }
.bg-black-60 {         background-color: $black-60; }
.bg-black-50 {         background-color: $black-50; }
.bg-black-40 {         background-color: $black-40; }
.bg-black-30 {         background-color: $black-30; }
.bg-black-20 {         background-color: $black-20; }
.bg-black-10 {         background-color: $black-10; }
.bg-black-05 {         background-color: $black-05; }

.white-90 {         color: $white-90; }
.white-80 {         color: $white-80; }
.white-70 {         color: $white-70; }
.white-60 {         color: $white-60; }
.white-50 {         color: $white-50; }
.white-40 {         color: $white-40; }
.white-30 {         color: $white-30; }
.white-20 {         color: $white-20; }
.white-10 {         color: $white-10; }

.bg-white-90 {        background-color: $white-90; }
.bg-white-80 {        background-color: $white-80; }
.bg-white-70 {        background-color: $white-70; }
.bg-white-60 {        background-color: $white-60; }
.bg-white-50 {        background-color: $white-50; }
.bg-white-40 {        background-color: $white-40; }
.bg-white-30 {        background-color: $white-30; }
.bg-white-20 {        background-color: $white-20; }
.bg-white-10 {        background-color: $white-10; }

.black {         color: $black; }
.near-black {    color: $near-black; }
.dark-gray {     color: $dark-gray; }
.mid-gray {      color: $mid-gray; }
.gray {          color: $gray; }
.silver  {       color: $silver; }
.light-silver {  color: $light-silver; }
.moon-gray {     color: $moon-gray; }
.light-gray {    color: $light-gray; }
.near-white {    color: $near-white; }
.white {         color: $white; }


/* Background colors */

.bg-black {         background-color: $black; }
.bg-near-black {    background-color: $near-black; }
.bg-dark-gray {     background-color: $dark-gray; }
.bg-mid-gray {      background-color: $mid-gray; }
.bg-gray {          background-color: $gray; }
.bg-silver  {       background-color: $silver; }
.bg-light-silver {  background-color: $light-silver; }
.bg-moon-gray {     background-color: $moon-gray; }
.bg-light-gray {    background-color: $light-gray; }
.bg-near-white {    background-color: $near-white; }
.bg-white {         background-color: $white; }


/* Skins for specific pseudoclasses */
.focus-black:focus { color: $black; }
.focus-near-black:focus { color: $near-black; }
.focus-dark-gray:focus { color: $dark-gray; }
.focus-mid-gray:focus { color: $mid-gray; }
.focus-gray:focus { color: $gray; }
.focus-silver:focus { color: $silver; }
.focus-light-silver:focus { color: $light-silver; }
.focus-moon-gray:focus { color: $moon-gray; }
.focus-light-gray:focus { color: $light-gray; }
.focus-near-white:focus { color: $near-white; }
.focus-white:focus { color: $white; }

.bg-focus-black:focus { background-color: $black; }
.bg-focus-near-black:focus { background-color: $near-black; }
.bg-focus-dark-gray:focus { background-color: $dark-gray; }
.bg-focus-mid-gray:focus { background-color: $mid-gray; }
.bg-focus-gray:focus { background-color: $gray; }
.bg-focus-silver:focus { background-color: $silver; }
.bg-focus-light-silver:focus { background-color: $light-silver; }
.bg-focus-moon-gray:focus { background-color: $moon-gray; }
.bg-focus-light-gray:focus { background-color: $light-gray; }
.bg-focus-near-white:focus { background-color: $near-white; }
.bg-focus-white:focus { background-color: $white; }

.hover-black:hover { color: $black; }
.hover-near-black:hover { color: $near-black; }
.hover-dark-gray:hover { color: $dark-gray; }
.hover-mid-gray:hover { color: $mid-gray; }
.hover-gray:hover { color: $gray; }
.hover-silver:hover { color: $silver; }
.hover-light-silver:hover { color: $light-silver; }
.hover-moon-gray:hover { color: $moon-gray; }
.hover-light-gray:hover { color: $light-gray; }
.hover-near-white:hover { color: $near-white; }
.hover-white:hover { color: $white; }

.bg-hover-black:hover { background-color: $black; }
.bg-hover-near-black:hover { background-color: $near-black; }
.bg-hover-dark-gray:hover { background-color: $dark-gray; }
.bg-hover-mid-gray:hover { background-color: $mid-gray; }
.bg-hover-gray:hover { background-color: $gray; }
.bg-hover-silver:hover { background-color: $silver; }
.bg-hover-light-silver:hover { background-color: $light-silver; }
.bg-hover-moon-gray:hover { background-color: $moon-gray; }
.bg-hover-light-gray:hover { background-color: $light-gray; }
.bg-hover-near-white:hover { background-color: $near-white; }
.bg-hover-white:hover { background-color: $white; }
