
// Converted Variables
// Custom Media Query Variables

/* Variables */
/*
   SPACING
   Docs: http://tachyons.io/docs/layout/spacing/

   An eight step powers of two scale ranging from 0 to 16rem.

   Base:
     p = padding
     m = margin

   Modifiers:
     a = all
     h = horizontal
     v = vertical
     t = top
     r = right
     b = bottom
     l = left

     0 = none
     1 = 1st step in spacing scale
     2 = 2nd step in spacing scale
     3 = 3rd step in spacing scale
     4 = 4th step in spacing scale
     5 = 5th step in spacing scale
     6 = 6th step in spacing scale
     7 = 7th step in spacing scale
*/
@include generateCodeForBreakpoints(){

  @each $label, $size in $spacings {

    // padding
    .pa#{$label}#{$breakpoint-variable} { padding: $size; }

    .pl#{$label}#{$breakpoint-variable} { padding-left: $size; }
    .pr#{$label}#{$breakpoint-variable} { padding-right: $size; }
    .pb#{$label}#{$breakpoint-variable} { padding-bottom: $size; }
    .pt#{$label}#{$breakpoint-variable} { padding-top: $size; }

    .pv#{$label}#{$breakpoint-variable} { padding-top: $size; padding-bottom: $size; }
    .ph#{$label}#{$breakpoint-variable} { padding-left: $size; padding-right: $size; }

    // margin
    .ma#{$label}#{$breakpoint-variable} { margin: $size; }

    .ml#{$label}#{$breakpoint-variable} { margin-left: $size; }
    .mr#{$label}#{$breakpoint-variable} { margin-right: $size; }
    .mb#{$label}#{$breakpoint-variable} { margin-bottom: $size; }
    .mt#{$label}#{$breakpoint-variable} { margin-top: $size; }

    .mv#{$label}#{$breakpoint-variable} { margin-top: $size; margin-bottom: $size; }
    .mh#{$label}#{$breakpoint-variable} { margin-left: $size; margin-right: $size; }
  }


}
