
// Converted Variables

$light-silver: #aaa !default;
$moon-gray: #ccc !default;
$light-gray: #eee !default;
$near-white: #f4f4f4 !default;

// Custom Media Query Variables


/*

  TABLES

*/

.collapse {
    border-collapse: collapse;
    border-spacing: 0;
}

.striped--moon-gray:nth-child(odd) {
  background-color: $light-silver;
}

.striped--moon-gray:nth-child(odd) {
  background-color: $moon-gray;
}

.striped--light-gray:nth-child(odd) {
  background-color: $light-gray;
}

.striped--near-white:nth-child(odd) {
  background-color: $near-white;
}
