
// Converted Variables


// Custom Media Query Variables


/*

  TABLES

*/

.collapse {
    border-collapse: collapse;
    border-spacing: 0;
}

.striped--moon-gray:nth-child(odd) {
  background-color: $light-silver;
}

.striped--moon-gray:nth-child(odd) {
  background-color: $moon-gray;
}

.striped--light-gray:nth-child(odd) {
  background-color: $light-gray;
}

.striped--near-white:nth-child(odd) {
  background-color: $near-white;
}
