
// Converted Variables
// Custom Media Query Variables

/*
   TEXT DECORATION
   Docs: http://tachyons.io/docs/typography/text-decoration/
*/
@include generateCodeForBreakpoints(){

  .strike#{$breakpointVariable}       { text-decoration: line-through; }
  .underline#{$breakpointVariable}    { text-decoration: underline; }
  .no-underline#{$breakpointVariable} { text-decoration: none; }

}
