
// Converted Variables
// Custom Media Query Variables

/*
  TEXT ALIGN
  Docs: http://tachyons.io/docs/typography/text-align/

  Base
    t = text-align

  Modifiers
    l = left
    r = right
    c = center
    j = justify
*/
@include generateCodeForBreakpoints(){

  .tl#{$breakpointVariable} { text-align: left; }
  .tr#{$breakpointVariable} { text-align: right; }
  .tc#{$breakpointVariable} { text-align: center; }
  .tj#{$breakpointVariable} { text-align: justify; }

}

