
// Converted Variables
// Custom Media Query Variables

/*
   TEXT TRANSFORM
   Docs: http://tachyons.io/docs/typography/text-transform/

   Base:
     tt = text-transform

   Modifiers
     c = capitalize
     l = lowercase
     u = uppercase
     n = none
*/
@include generateCodeForBreakpoints(){

  .ttc#{$breakpointVariable} { text-transform: capitalize; }
  .ttl#{$breakpointVariable} { text-transform: lowercase; }
  .ttu#{$breakpointVariable} { text-transform: uppercase; }
  .ttn#{$breakpointVariable} { text-transform: none; }

}
