
// Converted Variables
// Custom Media Query Variables

/*
   TEXT TRANSFORM
   Docs: http://tachyons.io/docs/typography/text-transform/

   Base:
     tt = text-transform

   Modifiers
     c = capitalize
     l = lowercase
     u = uppercase
     n = none
*/
@include generateCodeForBreakpoints(){

  .ttc#{$breakpoint-variable} { text-transform: capitalize; }
  .ttl#{$breakpoint-variable} { text-transform: lowercase; }
  .ttu#{$breakpoint-variable} { text-transform: uppercase; }
  .ttn#{$breakpoint-variable} { text-transform: none; }

}
