
// Converted Variables
// Custom Media Query Variables

/*
   TYPOGRAPHY
   http://tachyons.io/docs/typography/measure/
*/
@include generateCodeForBreakpoints(){

  @each $label, $size in $measures{
    .#{$label}#{$breakpoint-variable} { max-width: $size; }
  }

  /* Book paragraph style - paragraphs are indented with no vertical spacing. */
  .indent#{$breakpoint-variable} {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }

  .small-caps#{$breakpoint-variable} {
    font-variant: small-caps;
  }

  /* Combine this class with a width to truncate text (or just leave as is to truncate at width of containing element. */
  .truncate#{$breakpoint-variable} {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}
