
// Converted Variables
// Custom Media Query Variables

/*

   TYPE SCALE
   Docs: http://tachyons.io/docs/typography/scale/

   Base:
    f = font-size

   Modifiers
     1 = 1st step in size scale
     2 = 2nd step in size scale
     3 = 3rd step in size scale
     4 = 4th step in size scale
     5 = 5th step in size scale
     6 = 6th step in size scale
*/
@include generateCodeForBreakpoints(){

  /*
   * For Hero/Marketing Titles
   *
   * These generally are too large for mobile
   * so be careful using them on smaller screens.
   * */
  .f-6,
  .f-headline#{$breakpointVariable} {
    font-size: $font-size-headline;
  }
  .f-5,
  .f-subheadline#{$breakpointVariable} {
    font-size: $font-size-subheadline;
  }

  /* Type Scale */
  .f1#{$breakpointVariable} { font-size: $font-size-1; }
  .f2#{$breakpointVariable} { font-size: $font-size-2; }
  .f3#{$breakpointVariable} { font-size: $font-size-3; }
  .f4#{$breakpointVariable} { font-size: $font-size-4; }
  .f5#{$breakpointVariable} { font-size: $font-size-5; }
  .f6#{$breakpointVariable} { font-size: $font-size-6; }
  .f7#{$breakpointVariable} { font-size: $font-size-7; }

}
