
// Converted Variables
// Custom Media Query Variables

/*
   UTILITIES
*/

/* Equivalent to .overflow-y-scroll */
.overflow-container {
  overflow-y: scroll;
}

@include generateCodeForBreakpoints(){

  .center#{$breakpointVariable} {
    margin-right: auto;
    margin-left: auto;
  }

  .mr-auto#{$breakpointVariable} { margin-right: auto; }
  .ml-auto#{$breakpointVariable} { margin-left:  auto; }

}
