// Converted Variables

// Font-Stack
$sans-serif: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif !default;
$serif: georgia, serif !default;
$code: consolas, monaco, monospace !default;

// Headlines
// Generates for Example .f-6 and .f-headline
$headlines: (
    (6, "headline"): 6rem,
    (5, "subheadline"): 5rem,
) !default;

// Font-Sizes
$font-sizes: (
  1: 3rem,
  2: 2.25rem,
  3: 1.5rem,
  4: 1.25rem,
  5: 1rem,
  6: 1.875rem,
  7: .75rem
) !default;

// Letter Spacing, "tracked-tight" is required
$letter-spacings: (
  "tracked": -.05em,
  "tracked-tight": .1em,
  "tracked-mega": .25em
) !default;

// Line Height, "copy" and "title" are required
$line-heights: (
  "solid": 1,
  "title": 1.25,
  "copy": 1.5
) !default;

// Measures
$measures: (
  "measure": 30em, // ~66 characters
  "measure-wide": 34em, // ~80 characters
  "measure-narrow": 20em // ~45 characters
) !default;

// Spacing, "0" is required
$spacings: (
  0: 0,
  1: .25rem,
  2: .5rem,
  3: 1rem,
  4: 2rem,
  5: 4rem,
  6: 8rem,
  7: 16rem
) !default;

$spacing-copy-separator: 1.5em !default;

// Heights
$heights: (
  1: 1rem,
  2: 2rem,
  3: 4rem,
  4: 8rem,
  5: 16rem,
) !default;

// Heights Percentage
$heights-percentage: (
  25: 25,
  50: 50,
  75: 75,
  100: 100
) !default;

// Widths
$widths: (
  1: 1rem,
  2: 2rem,
  3: 4rem,
  4: 8rem,
  5: 16rem
) !default;

// Widths Percentage
$widths-percentage: (
  10: 10%,
  20: 20%,
  30: 30%,
  40: 40%,
  50: 50%,
  60: 60%,
  70: 70%,
  80: 80%,
  90: 90%,
  100: 100%,
) !default;

// Max-Widths
$max-widths: (
  1: 1rem,
  2: 2rem,
  3: 4rem,
  4: 8rem,
  5: 16rem,
  6: 32rem,
  7: 48rem,
  8: 64rem,
  9: 96rem
) !default;

// Border Radius
$border-radius: (
  0: 0,
  1: .125rem,
  2: .25rem,
  3: .5rem,
  4: 1rem,
  100: 100%
) !default;

// Pill
$border-radius-pill: 9999px !default;

// Border Width
$border-width: (
  0: 0,
  1: .125rem,
  2: .25rem,
  3: .5rem,
  4: 1rem,
  5: 2rem
) !default;

// Box-Shadows
$box-shadows: (
  1: 0 0 4px 2px rgba(0, 0, 0, 0.2),
  2: 0 0 8px 2px rgba(0, 0, 0, 0.2),
  3: 2px 2px 4px 2px rgba(0, 0, 0, 0.2),
  4: 2px 2px 8px 0 rgba(0, 0, 0, 0.2),
  5: 4px 4px 8px 0 rgba(0, 0, 0, 0.2)
) !default;

// Colors
// required for _tables.scss "light-silver", "moon-gray", "light-gray", "near-white", "white-10", "black-10"
// required for _nested.scss "blue", "light-blue"
$colors: (
  "black": #000,
  "near-black": #111,
  "dark-gray": #333,
  "mid-gray": #555,
  "gray": #777,
  "silver": #999,
  "light-silver": #aaa,
  "moon-gray": #ccc,
  "light-gray": #eee,
  "near-white": #f4f4f4,
  "white": #fff,
  "transparent": transparent,
  "black-90": rgba(0, 0, 0, .9),
  "black-80": rgba(0, 0, 0, .8),
  "black-70": rgba(0, 0, 0, .7),
  "black-60": rgba(0, 0, 0, .6),
  "black-50": rgba(0, 0, 0, .5),
  "black-40": rgba(0, 0, 0, .4),
  "black-30": rgba(0, 0, 0, .3),
  "black-20": rgba(0, 0, 0, .2),
  "black-10": rgba(0, 0, 0, .1),
  "black-05": rgba(0, 0, 0, .05),
  "black-025": rgba(0, 0, 0, .025),
  "black-0125": rgba(0, 0, 0, .0125),
  "white-90": rgba(255, 255, 255, .9),
  "white-80": rgba(255, 255, 255, .8),
  "white-70": rgba(255, 255, 255, .7),
  "white-60": rgba(255, 255, 255, .6),
  "white-50": rgba(255, 255, 255, .5),
  "white-40": rgba(255, 255, 255, .4),
  "white-30": rgba(255, 255, 255, .3),
  "white-20": rgba(255, 255, 255, .2),
  "white-10": rgba(255, 255, 255, .1),
  "white-05": rgba(255, 255, 255, .05),
  "white-025": rgba(255, 255, 255, .025),
  "white-0125": rgba(255, 255, 255, .0125),
  "dark-red": #e7040f,
  "red": #ff4136,
  "light-red": #ff725c,
  "orange": #ff6300,
  "gold": #ffb700,
  "yellow": #ffd700,
  "light-yellow": #fbf1a9,
  "purple": #5e2ca5,
  "light-purple": #a463f2,
  "dark-pink": #d5008f,
  "hot-pink": #ff41b4,
  "pink": #ff80cc,
  "light-pink": #ffa3d7,
  "dark-green": #137752,
  "green": #19a974,
  "light-green": #9eebcf,
  "navy": #001b44,
  "dark-blue": #00449e,
  "blue": #357edd,
  "light-blue": #96ccff,
  "lightest-blue": #cdecff,
  "washed-blue": #f6fffe,
  "washed-green": #e8fdf5,
  "washed-yellow": #fffceb,
  "washed-red": #ffdfdf
) !default;

// Custom Media Query Variables
/*
 Custom Media Query Variables
 Breakpoint Generation with multiple Breakpoints
 The Default Option "default":"" must be empty for Generating the default Code
 */
$breakpoints: (
  "default":"",
  "ns": "screen and (min-width: 30em)",
  "m": "screen and (min-width: 30em) and (max-width: 60em)",
  "l": "screen and (min-width: 60em)"
) !default;

/*
    VARIABLES
*/

