
// Converted Variables
// Custom Media Query Variables

/*
   VERTICAL ALIGN
*/
@include generateCodeForBreakpoints(){

  .v-base#{$breakpointVariable} { vertical-align: baseline; }
  .v-mid#{$breakpointVariable}  { vertical-align: middle; }
  .v-top#{$breakpointVariable}  { vertical-align: top; }
  .v-btm#{$breakpointVariable}  { vertical-align: bottom; }

}
