
// Converted Variables
// Custom Media Query Variables

/*
   WHITE SPACE
*/
@include generateCodeForBreakpoints(){

  .ws-normal#{$breakpointVariable} { white-space: normal; }
  .nowrap#{$breakpointVariable} { white-space: nowrap; }
  .pre#{$breakpointVariable} { white-space: pre; }

}

