
// Converted Variables
// Custom Media Query Variables

/*
   WHITE SPACE
*/
@include generateCodeForBreakpoints(){

  .ws-normal#{$breakpoint-variable} { white-space: normal; }
  .nowrap#{$breakpoint-variable} { white-space: nowrap; }
  .pre#{$breakpoint-variable} { white-space: pre; }

}

