
// Converted Variables
// Custom Media Query Variables

/*
   WIDTHS
   Docs: http://tachyons.io/docs/layout/widths/

   Base:
     w = width

     Modifiers
       1 = 1st step in width scale
       2 = 2nd step in width scale
       3 = 3rd step in width scale
       4 = 4th step in width scale
       5 = 5th step in width scale

       -10  = literal value 10%
       -20  = literal value 20%
       -25  = literal value 25%
       -30  = literal value 30%
       -33  = literal value 33%
       -34  = literal value 34%
       -40  = literal value 40%
       -50  = literal value 50%
       -60  = literal value 60%
       -70  = literal value 70%
       -75  = literal value 75%
       -80  = literal value 80%
       -90  = literal value 90%
       -100 = literal value 100%

       -third      = 100% / 3 (Not supported in opera mini or IE8)
       -two-thirds = 100% / 1.5 (Not supported in opera mini or IE8)
       -auto       = string value auto
 */
@include generateCodeForBreakpoints(){

  /* Width Scale */

  .w1#{$breakpointVariable} {    width: $width-1; }
  .w2#{$breakpointVariable} {    width: $width-2; }
  .w3#{$breakpointVariable} {    width: $width-3; }
  .w4#{$breakpointVariable} {    width: $width-4; }
  .w5#{$breakpointVariable} {    width: $width-5; }

  .w-10#{$breakpointVariable} {  width:  10%; }
  .w-20#{$breakpointVariable} {  width:  20%; }
  .w-25#{$breakpointVariable} {  width:  25%; }
  .w-30#{$breakpointVariable} {  width:  30%; }
  .w-33#{$breakpointVariable} {  width:  33%; }
  .w-34#{$breakpointVariable} {  width:  34%; }
  .w-40#{$breakpointVariable} {  width:  40%; }
  .w-50#{$breakpointVariable} {  width:  50%; }
  .w-60#{$breakpointVariable} {  width:  60%; }
  .w-70#{$breakpointVariable} {  width:  70%; }
  .w-75#{$breakpointVariable} {  width:  75%; }
  .w-80#{$breakpointVariable} {  width:  80%; }
  .w-90#{$breakpointVariable} {  width:  90%; }
  .w-100#{$breakpointVariable} { width: 100%; }

  .w-third#{$breakpointVariable} { width: (100% / 3); }
  .w-two-thirds#{$breakpointVariable} { width: (100% / 1.5); }
  .w-auto#{$breakpointVariable} { width: auto; }

}
