
// Converted Variables
// Custom Media Query Variables

/*
   WIDTHS
   Docs: http://tachyons.io/docs/layout/widths/

   Base:
     w = width

     Modifiers
       1 = 1st step in width scale
       2 = 2nd step in width scale
       3 = 3rd step in width scale
       4 = 4th step in width scale
       5 = 5th step in width scale

       -10  = literal value 10%
       -20  = literal value 20%
       -25  = literal value 25%
       -30  = literal value 30%
       -33  = literal value 33%
       -34  = literal value 34%
       -40  = literal value 40%
       -50  = literal value 50%
       -60  = literal value 60%
       -70  = literal value 70%
       -75  = literal value 75%
       -80  = literal value 80%
       -90  = literal value 90%
       -100 = literal value 100%

       -third      = 100% / 3 (Not supported in opera mini or IE8)
       -two-thirds = 100% / 1.5 (Not supported in opera mini or IE8)
       -auto       = string value auto
 */
@include generateCodeForBreakpoints(){

  /* Width Scale */
  @each $label, $size in $widths {
    .w#{$label}#{$breakpoint-variable} { width: $size; }
  }

  /* Width Percentage */
  @each $label, $size in $widths-percentage {
    .w-#{$label}#{$breakpoint-variable} { width: $size; }
  }

  // Breakpoints Width
  .w-third#{$breakpoint-variable} { width: (100% / 3); }
  .w-two-thirds#{$breakpoint-variable} { width: (100% / 1.5); }
  .w-auto#{$breakpoint-variable} { width: auto; }

}
